header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #0E5A46;
    height: 100px;
    width: 100%;
    color: white;
  }
  
  .logo {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .menu {
    display: inline-block;
    text-decoration: none;
    color:white;
  }
  
  .botaoLogin {
    height: 28px;
    margin-right: 30px;
    background-color: #0E5A46;
    border: none;
    color: white;
    margin-bottom: 4px;
    
    
  }

  .botaoCadastro {
    height: 28px;
    margin-right: 30px;
    background-color: #0E5A46;
    border: none;
    color: white;
    margin-bottom: 4px;
  }
  
  .botaoLogout {
    height: 28px;
    margin-right: 30px;
    background-color: #0E5A46;
    border: none;
    color: white;
 margin-bottom: 4px;
  }

  .botaoList {
    height: 30px;
    margin-right: 30px;
    background-color: #0E5A46;
    border: none;
    color: white;
    margin-bottom: 4px;
    
  }